body {
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
}


.linkbar {
    /*border: 1px ridge #aaaaaa;*/
    margin-top: 20px;
}

.footer {

    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;

}

.affix-top {
    /* Initial items */
}

.affix {
    top:50px;
    position:fixed;
    width:262.5px;
}